body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #2e354f;
    /* turn off default margin */
    margin:0;
}

h1, 
h2,
strong {
    font-weight: 900;
}

h1 {
    font-size: 36px;
    /* turn off default margin */
    margin: 0;
}

h2 {
    font-size: 24px;
    color:#ef5839; 
}

a {
    color: #ef5839;
}

a:hover,
a:focus {
    color: #d4b44c;
}

/* buttons */
/* link is styled as a button */
.btn {
    /* does not add a line-break after the element, so the element can sit next 
    to other elements. allows to set a width and height on the element
    */
    display: inline-block;
    padding: 10px 25px;
    /* remove underlone from links */
    text-decoration: none;
}

.btn-accent {
    background: #ef5839;
    color: #fff;
}

.btn-accent:hover {
    background: #d4b44c;
}

.btn-white {
    background: #fff;
    color: #2e354f;
}

.btn-white:hover {
    color: #2e354f;
    background: #999;
}

/* Layout */

header {
    /* background color and padding on top and bottom */
    background: #2e354f;
    /* shorthand: [top bottom] [left and rigt] */
    padding: 45px 0;
    /* controls text color */
    color: #fff;
    width: 620px;
    margin: 0 auto;
}

/* select sections by elements not by classes*/
section {
    width: 620px;
    margin: 0 auto;
    /* same as header */
    padding: 45px o;
}

.section-two {
    background: #2e354f;
    color: #ffff;
}

